.background {
     background-image: url('../images/src/app/background.jpg');
     background-repeat: repeat-y;
     position:absolute;
     left:0;
     right:0;
     top:0;
     bottom:0;
 }

.login_page{
     width: 360px;
     padding:8% 0 0;
     margin:auto;
 }

.login_text {
         text-transform: uppercase;
         outline: 0;
         color:#FFFFFF;
         width:100%;
         font-family: "Roboto" sans-serif;
         border-bottom: 2px solid white;
         margin-bottom: 15px;
         }

.form {
     position: relative;
     z-index: 1;
     max-width: 360px;
     margin:50px auto 100px;
     padding: 30px;
     text-align: center;
     }
.form input {
         font-family: "Roboto" sans-serif;
         outline: 0;
         background :#f2f2f2;
         width: 100%;
         border:0;
         margin: 0 0 15px;
         padding:15px;
         box-sizing: border-box;
         font-size: 14px;
         }

.form button {
         font-family: "Roboto" sans-serif;
         text-transform: uppercase;
         outline:0;
         background:#4CAF50;
         width: 100%;
         border:0;
         padding: 15px;
         color:#FFFFFF;
         }
