ul.col-md-4{
        list-style-type: none;
        }

img.img{
            width:100%;
            height:60%;
        }
div#filters{
            display:inline-block;
        }
a.leftnav{
            display:block;
        }