<div class="modal fade" id="addDg" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
<!--       Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">add item</h4>
        </div>
        <div class="modal-body">
          <p>please input the information</p>
          <input type="text" ng-model="addtitle" placeholder="Title">
          <input type="text" ng-model="addauthor" placeholder="Auther">
          <input type="text" ng-model="addlike" placeholder="Like">
          <input type="text" ng-model="addcomment" placeholder="Comment">
        </div>
        <div class="modal-footer">
          <button type="button" ng-click="addsubmit()" class="btn btn-default" data-dismiss="modal">confirm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
