<h1>Overview</h1>
<div id="overview_partial" class="jumbotron">
  <div id="dispContent">
      <p id="uName"> {{dispUsername}} - {{dispNickname}},</p>
      <img id="iProfImg" src="{{dispProfImg}}" />
      <p id="introduction">Welcome to dashboard application. This application guide will introduce you to things that you can do while staing here. All the sections mentioned below can be accessed from the navigation menu on the left side</p>
  </div>
  <div id="sectionAccordion">
    <uib-accordion close-others="false">
        <uib-accordion-group heading="Work Section" is-open="false" is-disabled="false" class="section">
          This section contains the demonstration for all the final products taht has been produced in the market
        </uib-accordion-group>

        <uib-accordion-group heading="Producer Section" is-open="false" is-disabled="false" class="section">
          This section contains information about the creator of all the works and how to get in touch with them
        </uib-accordion-group>

        <uib-accordion-group heading="Contact Section" is-open="false" is-disabled="false" class="section">
          This section provides a gateway for users to voice out opinions reagarding the application and any other questions or concerns that ones might have
        </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
