
<div class="head">
    <div>pic</div>
    <div>{{userName}}</div>
    <div>{{date}}</div>
    <button type="button" ng-click="logout()">login out</button>
</div>


<div class="row">
<!--        four nav bars-->
        <div class="col-md-2">
                <a class="leftnav" ui-sref=".overview">Overview</a>
                <a class="leftnav" ui-sref=".work">Work</a>
                <a class="leftnav" ui-sref=".producer">Producer</a>
                <a class="leftnav" ui-sref=".contact">Contact</a>
        </div>
        <div class="col-md-10">
            <div ui-view></div>
        </div>
</div>
