<!--no need to embed ng-controller here, already relate controller and work.html in app.js--
    ng-repeat="works in controller ">
<!--    <ul ng-repeat="work in works" ng-controller="workController">-->
<div id="workviewhead">
<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">select design<span class="caret"></span></button>
<ul class="dropdown-menu">
    <li ng-click="displayCard()"><a href="">card</a></li>
    <li ng-click="displayList()"><a href="">list</a></li>
</ul>
</div>
    <button class="btn btn-danger" data-toggle="modal" data-target="#addDg">add item</button>
    <input type="text" ng-model="search.title" placeholder="title">
    <input type="text" ng-model="search.author" placeholder="author">
    <input type="text" ng-model="search.like" ng-focus="orderByMe(like)" placeholder="like">
    <input type="text" ng-model="search.comment" placeholder="comment">
</div>
    <div ng-show="disvar">
        <ul id="{{work.id}}" class="col-md-4" ng-repeat="work in works|filter:search">
            <li><img class="img" src="{{work.image}}"></li>
            <li>{{work.title}}</li>
            <li>{{work.author}}</li>
            <li>{{work.like}}</li>
            <li>{{work.comment}}</li>
            <div class="editanddelete">
              <button class="btn btn-link" data-toggle="modal" data-target="#editDg" ng-click="edit(work)">Edit</button>
              <button ui-sref=".delete" class="btn btn-link" data-toggle="modal" data-target="#myModal" ng-click="deleteItem(work)">|Delete</button>
<!--              <div ui-view></div>-->
            </div>
        </ul>
    </div>
    <div ui-view></div><br>
    <div class ng-hide="disvar">
        <table>
              <tr>
                <th ng-click="orderByMe('title')">Title</th>
                <th ng-click="orderByMe('author')">Author</th>
                <th>Like</th>
                <th>comment</th>
                <th>modify</th>
                <th>delete</th>
            </tr>
            <tr ng-repeat="work in works|filter:search|orderBy:myOrderBy">
                <td>{{work.title}}</td>
                <td>{{work.author}}</td>
                <td>{{work.like}}</td>
                <td>{{work.comment}}</td>
                <td><button class="btn btn-link" data-toggle="modal" data-target="#editDg" ng-click="edit(work)">Edit</button></td>
                <td><button ui-sref=".delete" class="btn btn-link" data-toggle="modal" data-target="#myModal" ng-click="deleteItem(work)">Delete</button></td>
            </tr>
        </table>
    </div>
<adddirective></adddirective>
<editdirective></editdirective>
